{% load static%}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Gasometrics | {% block title %}Inicio{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href=" {% static 'website/assets/img/logo.png' %} " rel="icon">
  <link href=" {% static 'website/assets/img/logo.png' %} " rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href=" {% static 'website/assets/vendor/aos/aos.css' %} " rel="stylesheet">
  <link href=" {% static 'website/assets/vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
  <link href=" {% static 'website/assets/vendor/bootstrap-icons/bootstrap-icons.css' %} " rel="stylesheet">
  <link href=" {% static 'website/assets/vendor/glightbox/css/glightbox.min.css' %} " rel="stylesheet">
  <link href=" {% static 'website/assets/vendor/remixicon/remixicon.css' %} " rel="stylesheet">
  <link href=" {% static 'website/assets/vendor/swiper/swiper-bundle.min.css' %} " rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href=" {% static 'website/assets/css/style.css' %} " rel="stylesheet">
  
  <!-- CSS para formulario Pedido -->
  <link rel="stylesheet" type="text/css" href=" {% static 'website/assets/form/css/opensans-font.css' %} ">
	<link rel="stylesheet" type="text/css" href=" {% static 'website/assets/form/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %} ">
  <!-- datepicker -->
	<link rel="stylesheet" type="text/css" href=" {% static 'website/assets/form/css/jquery-ui.min.css' %} ">
	<!-- Main Style Css -->
  <link rel="stylesheet" href=" {% static 'website/assets/form/css/style.css' %} "/>

  <style>
    canvas {
        display: block;
        margin: auto;
    }
  </style>

  <!-- =======================================================
  * Template Name: FlexStart
  * Updated: Jan 09 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url "main" %}" class="logo d-flex align-items-center">
        <img src=" {% static 'website/assets/img/logo.png' %} " alt="">
        <span>Gasometrics</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'main' %}">Inicio</a></li>
        <li><a class="nav-link scrollto" href="{% url 'medicion'%}">Medicion</a></li>
        <li><a class="nav-link scrollto" href="{% url 'pedidos' %}">Mis Pedidos</a></li>
        <li class="dropdown">
          <a href="#">
            <img src="{% static 'website/assets/img/cuenta/user_prof.svg'%}"
             alt="Perfil de usuario" width=30px height=30px  border-radius=50% margin-left=10px;>
             <i class="bi bi-chevron-down"></i>
          </a>
            <ul>
              <li><a href="#">Hola {{user.username}} </a></li>
              <li><a href="#">Configuración
                <img src="{% static 'website/assets/img/cuenta/settings.svg' %}"
                 width=25px height=20px>
              </a></li>
              <li><a href="{% url 'signout' %}">Cerrar Sesión
                <img src="{% static 'website/assets/img/cuenta/logout.svg' %}"
                 width=25px height=20px>
              </a></li>
            </ul>
          
        </li>
      </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

    
    {% block content   %}
    
    {% endblock %}
    
  
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Gasometrics</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src=" {% static 'website/assets/vendor/purecounter/purecounter_vanilla.js' %} "></script>
  <script src=" {% static 'website/assets/vendor/aos/aos.js' %} "></script>
  <script src=" {% static 'website/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
  <script src=" {% static 'website/assets/vendor/glightbox/js/glightbox.min.js' %} "></script>
  <script src=" {% static 'website/assets/vendor/isotope-layout/isotope.pkgd.min.js' %} "></script>
  <script src=" {% static 'website/assets/vendor/swiper/swiper-bundle.min.js' %} "></script>
  <script src=" {% static 'website/assets/vendor/php-email-form/validate.js' %} "></script>

  <!-- Template Main JS File -->
  <script src=" {% static 'website/assets/js/main.js' %} "></script>

  <!-- Scripts del formulario Pedido -->
  <script src=" {% static 'website/assets/form/js/jquery-3.3.1.min.js' %} "></script>
	<script src=" {% static 'website/assets/form/js/jquery.steps.js' %} "></script>
	<script src=" {% static 'website/assets/form/js/jquery-ui.min.js' %} "></script>
	<script src=" {% static 'website/assets/form/js/main.js' %} "></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


</body>

</html>