{% load static%}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Gasometrics | Inicio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href=" {% static 'website/assets/img/logo.png' %} " rel="icon">
  <link href=" {% static 'website/assets/img/logo.png' %} " rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href=" {% static 'website/assets/vendor/aos/aos.css' %} " rel="stylesheet">
  <link href=" {% static 'website/assets/vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
  <link href=" {% static 'website/assets/vendor/bootstrap-icons/bootstrap-icons.css' %} " rel="stylesheet">
  <link href=" {% static 'website/assets/vendor/glightbox/css/glightbox.min.css' %} " rel="stylesheet">
  <link href=" {% static 'website/assets/vendor/remixicon/remixicon.css' %} " rel="stylesheet">
  <link href=" {% static 'website/assets/vendor/swiper/swiper-bundle.min.css' %} " rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href=" {% static 'website/assets/css/style.css' %} " rel="stylesheet">

  <!-- =======================================================
  * Template Name: FlexStart
  * Updated: Jan 09 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href=" {% static 'index.html' %} " class="logo d-flex align-items-center">
        <img src=" {% static 'website/assets/img/logo.png' %} " alt="">
        <span>Gasometrics</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href=" /# ">Inicio</a></li>
          <li><a class="nav-link scrollto" href=" /# ">Nav1</a></li>
          <li><a class="nav-link scrollto" href=" /# ">Nav2</a></li>
          <li><a class="nav-link scrollto" href=" /# ">Nav3</a></li>
          <li><a class="getstarted scrollto" href=" /# ">boton</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="e_hero d-flex align-items-center">

    <div class="container">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Servicios</h2>
          <p>Elige la opción  que más se adapte a tus 
            necesidades.</p>
        </header>        
      </div> 
  
  </section><!-- End Hero -->

  <main id="main">
    
    
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
         <
          <p>Traemos para ti los mejores precios</p>
        </header>

        <div class="row gy-4" data-aos="fade-left">

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              
              <h3 style="color: #FF2021;">Vela Gas</h3>
              <img src=" {% static 'website/assets/img/clients/client-1.png' %} " class="img-fluid" alt="">    
              <div class="price"><sup>$</sup>0<span> / Litro</span></div>
              
              <ul>
                <li>Nos orientamos por la satisfacción de los mercados actuales 
                  y potenciales para ser uno de los principales proveedores de gas I.p a nivel nacional.</li>
               
              </ul>
              <a href="#" class="btn-buy">Solicitar</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3 style="color: #E81096;">Gas Rosa</h3>
              <img src=" {% static 'website/assets/img/clients/client-2.png' %} " class="img-fluid" alt="">
              <div class="price"><sup>$</sup>19<span> / Litro</span></div>
              
              <ul>
                <li>Ofrecemos calidad total en el producto y dar el mejor trato
                   a nuestros clientes, acompañado de kilos y litros exactos.</li>
             
              </ul>
              <a href="#" class="btn-buy">Solicitar</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
              <h3 style="color: #DD0917;">Gas San Juan</h3>
              <img src=" {% static 'website/assets/img/clients/client-4.png' %} " class="img-fluid" alt="">
              <div class="price"><sup>$</sup>29<span> / Litro</span></div>
              
              <ul>
                <li>Nuestra misión es ser la empresa líder en la región occidente y centro del país en la venta y 
                  distribución de gas L.P., a través de un servicio diferenciado e innovador,
                  con el mejor precio y mayor rendimiento.</li>
              </ul>
              <a href="#" class="btn-buy">Solicitar</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="box">
                <h3 style="color: #01529A;">Global Gas</h3>
              <img src=" {% static 'website/assets/img/clients/client-5.png' %} " class="img-fluid" alt="">
              <div class="price"><sup>$</sup>49<span> / Litro</span></div>
              <ul>
                <li>Haz tu pedido de Gas L.P a domicilio en Global Gas. Fácil, 
                  rápido y al alcance de todos. ¡Global Gas, el gas que ya está a tu puerta!" </li>
              </ul>
              <a href="#" class="btn-buy">Solicitar</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="box">
                <h3 style="color: #E99127;">Gas Tomza</h3>
              <img src=" {% static 'website/assets/img/clients/client-6.png' %} " class="img-fluid" alt="">
              <div class="price"><sup>$</sup>49<span> / Litro</span></div>
              <ul>
                <li>En Gas Tomza Corporativo Jalisco trabajamos día a día para ofrecer a las las familias Jaliscienses un servicio excelente que mejore la calidad de vida de todos.</li>
              </ul>
              <a href="#" class="btn-buy">Solicitar</a>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Pricing Section -->
    

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Gasometrics</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src=" {% static 'website/assets/vendor/purecounter/purecounter_vanilla.js' %} "></script>
  <script src=" {% static 'website/assets/vendor/aos/aos.js' %} "></script>
  <script src=" {% static 'website/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
  <script src=" {% static 'website/assets/vendor/glightbox/js/glightbox.min.js' %} "></script>
  <script src=" {% static 'website/assets/vendor/isotope-layout/isotope.pkgd.min.js' %} "></script>
  <script src=" {% static 'website/assets/vendor/swiper/swiper-bundle.min.js' %} "></script>
  <script src=" {% static 'website/assets/vendor/php-email-form/validate.js' %} "></script>

  <!-- Template Main JS File -->
  <script src=" {% static 'website/assets/js/main.js' %} "></script>

</body>

</html>