{% extends "base_cliente.html" %}

{% load static%}

{% block content  %}

  <!-- ======= Hero Section ======= -->
  <section id="e_hero" class="e_hero d-flex align-items-center">

    <div class="container">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Servicios</h2>
          <p>Elige la opción  que más se adapte a tus 
            necesidades.</p>
        </header>        
      </div> 
  
  </section><!-- End Hero -->

  <main id="main">
    
    
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <p>Traemos para ti los mejores precios</p>
        </header>

        <div class="row gy-4" data-aos="fade-left">

          {% for post in posts %}
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
              <div class="box">
                <h3 style="color: #DD0917;"> {{post.proveedor_name}} </h3>
                <img src=" {{post.logo.url}} " class="img-fluid" alt="">
                <div class="price"><sup>$</sup>{{post.precio}}<span> / Litro</span></div>
                
                {% comment %} <ul>
                  <li>{{post.descripcion}}.</li>
                </ul> {% endcomment %}
                <a href="{% url 'post_detail' post.id_post %}" class="btn-buy">Solicitar</a>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>

    </section><!-- End Pricing Section -->
  </main>    
{% endblock content %}