{% extends "base_cliente.html" %}

{% load static%}

{% block content  %}

  <!-- ======= Hero Section ======= -->
  <section id="e_hero" class="e_hero d-flex align-items-center">

    <div class="container">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Servicios</h2>
          <p>Elige la opción  que más se adapte a tus 
            necesidades.</p>
        </header>        
      </div> 
  
  </section><!-- End Hero -->

  <main id="main">
    
    
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <p>Traemos para ti los mejores precios</p>
        </header>

        <div class="row gy-4" data-aos="fade-left">

          {% for post in posts %}
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
              <div class="box">
                <h3 style="color: #DD0917;"> {{post.proveedor_name}} </h3>
                <img src=" {{post.logo.url}} " class="img-fluid" alt="">
                <div class="price"><sup>$</sup>{{post.precio}}<span> / Litro</span></div>
                
                <ul>
                  <li>{{post.descripcion}}.</li>
                </ul>
                <a href="#" class="btn-buy">Solicitar</a>
              </div>
            </div>
        {% endfor %}

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="box">
                <h3 style="color: #01529A;">Global Gas</h3>
              <img src=" {% static 'website/assets/img/clients/client-5.png' %} " class="img-fluid" alt="">
              <div class="price"><sup>$</sup>49<span> / Litro</span></div>
              <ul>
                <li>Haz tu pedido de Gas L.P a domicilio en Global Gas. Fácil, 
                  rápido y al alcance de todos. ¡Global Gas, el gas que ya está a tu puerta!" </li>
              </ul>
              <a href="#" class="btn-buy">Solicitar</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="box">
                <h3 style="color: #E99127;">Gas Tomza</h3>
              <img src=" {% static 'website/assets/img/clients/client-6.png' %} " class="img-fluid" alt="">
              <div class="price"><sup>$</sup>49<span> / Litro</span></div>
              <ul>
                <li>En Gas Tomza Corporativo Jalisco trabajamos día a día para ofrecer a las las familias Jaliscienses un servicio excelente que mejore la calidad de vida de todos.</li>
              </ul>
              <a href="#" class="btn-buy">Solicitar</a>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Pricing Section -->
    
{% endblock content %}