{% extends "base_cliente.html" %}
{% block title %}Confirmar pago{% endblock title %}

{% block content %}
<form id="payment-form">
    <div id="card-element"><!-- Stripe.js injects the Card Element --></div>
    <button id="submit">
      <div class="spinner hidden" id="spinner"></div>
      <span id="button-text">Pagar ahora</span>
    </button>
    <p id="card-error" role="alert"></p>
  </form>
  
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    var stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');
    var elements = stripe.elements();
    var cardElement = elements.create('card');
    cardElement.mount('#card-element');
  
    var form = document.getElementById('payment-form');
    var resultContainer = document.getElementById('card-error');
  
    form.addEventListener('submit', function(event) {
      event.preventDefault();
      stripe.confirmCardPayment("{{ client_secret }}", {
        payment_method: {
          card: cardElement,
          billing_details: {
            // Puedes agregar detalles adicionales de facturación aquí si es necesario
          }
        }
      }).then(function(result) {
        if (result.error) {
          // Mostrar errores al usuario
          resultContainer.textContent = result.error.message;
        } else {
          // Redirigir al usuario a la página de pago exitoso
          window.location.href = "{% url 'pago_exitoso' %}";
        }
      });
    });
  </script>
  
{% endblock content %}