{% extends "base_cliente.html" %}
{% block title %}Proceso de Pago{% endblock title %}

{% block content %}
<div class="container pt-5">
    <div class= "row pt-5"> 
      <div class="col-md-8 mb-4 pt-5">
        <div class="card mb-4">
          <div class="card-body">
            <div class="card-header py-3 d-flex flex-row">
              <h3 class="m-0 font-weight-bold" style="color:#E93C12; font-weight: bold;">
                Pago del Pedido 
              </h3>
            </div>

            <div class="border p-3"> 
              <form id="payment-form">
                <div class="row mb-4"  >
                  <div class="col">
                    <h6 class="m-0 font-weight-bold" style="color:#343434; font-weight: bold;">
                      Datos de la tarjeta
                    </h6><br><br>
                    <div data-mdb-input-init class="form-outline" id="card-element"><!-- Stripe.js injects the Card Element --></div><br>
                  </div>
                </div>  
                <button id="submit" class="btn btn-success">
                 <div class="spinner hidden" id="spinner"></div>
                <span id="button-text">Pagar</span>
                </button>
                <p id="card-error" role="alert"></p>
                <p class="result-message hidden">
                  Proceso de Pago exitoso, para verificar el pago revisa el 
                <a href="" target="_blank">Stripe dashboard.</a> Recarga para volver a pagar.
                </p>
              </form>
            <div>
          </div>
        </div>
      </div>
    </div>
</div>
  
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    var stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');
  
    var elements = stripe.elements();
    var cardElement = elements.create('card');
    cardElement.mount('#card-element');
  
    var form = document.getElementById('payment-form');
    var resultContainer = document.getElementById('card-error');
  
    form.addEventListener('submit', function(event) {
      event.preventDefault();
      stripe.confirmCardPayment("{{ client_secret }}", {
        payment_method: {
          card: cardElement,
        }
      }).then(function(result) {
        if (result.error) {
          // Mostrar errores al usuario
          resultContainer.textContent = result.error.message;
        } else {
          // Pago exitoso, redirigir a la página de confirmación
          window.location.href = "{% url 'pago_exitoso' pedido.id_pedido %}";
        }
      });
    });
  </script>

{% endblock content %}
